



input[type="submit"] {
    background-color: purple;
    color: white;
    border: 3px solid black;
    cursor: pointer;
}
input[type="password"]{
    background-color: aquamarine;
}
#a{
     background-color: aquamarine;
}